* {
  padding : 0;
  margin : 0;
  box-sizing : border-box;
}

body {
  height : 100vh;
  background : #060AB2;
}

.memory-game {
  width : 640px;
  height : 640px;
  display : flex;
  flex-wrap : wrap;
  border : 2px solid lime;
}

.memory-card{
  border : 2px solid aqua;
  width : 25%;
  height : 33.33%
}

.front-face,
.back-face{
  border : 2px solid deeppink;
}

img{
  width : 100px;
  height : 100px;
}


